/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 240px - 320px
*/

@media only screen and (min-width: 240px)  and (max-width: 320px) and (orientation: portrait) {
.media-carousel{
	margin-bottom: 0 !important;
	margin-top: 30px !important;
	padding: 0 0px 30px 0px !important;
}
.servi_container{
	width: 100% !important;
}
.titulo_principal{
  font-size: 14px !important; 
  margin-top: -10px !important;
}
.subtitulo_principal{
	text-align: left !important; 
	color: #fff !important;
	font-size: 12px !important;
}
.logo{
	margin-left: -80px;
	margin-bottom: -10px !important;
}
.movil-logo{
	width: 150px !important;
}
.loginamiga{
	margin-left: 130px !important;
	margin-top: 35px !important;
}
.movil-drop{
	margin-left: -5px !important;
}
.img-ingreso{
	width: 250px !important;
}
.img-cumple{
	width: 250px !important;
}
.card-blog .card-category-box{
	margin-top: 40px !important;
	left: 130px !important;
}
.section-header h3{
	font-size: 30px !important;
}
}	
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait)
{
.media-carousel{
	margin-bottom: 0 !important;
	margin-top: 30px !important;
	padding: 0 0px 30px 0px !important;
}
.card-blog .card-category-box{
	top: -200px !important;
}
.servi_container{
	width: 100% !important;
}
.titulo_principal{
  font-size: 14px !important; 
  margin-top: -10px !important;
}
.subtitulo_principal{
	text-align: left !important; 
	color: #fff !important;
	font-size: 12px !important;
}
.logo{
	margin-left: -80px;
	margin-bottom: -10px !important;
}
.movil-logo{
	width: 150px !important;
}
.loginamiga{
	margin-left: 160px !important;
	top: -35px !important;
}
.movil-drop{
	margin-left: -5px !important;
}
.detalle_cumplemes{
	width: 300px !important;
}
.detalle_ingreso{
	width: 300px !important;
}
.estructura{
	width: 300px !important;
}
.logo_banner{
  width: 120px !important;
  margin-top: 0px !important;
}
.loginamiga_banner {
margin-top: 0px !important;
}
.menu-intranet{
	margin-left: -60px !important;
}
}
/* 
  ##Device = Most of the Smartphones Mobiles (Landscape)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape)
{
.servi_container{
	width: 100% !important;
}
.titulo_principal{
  font-size: 16px !important; 
  margin-top: -10px !important;
}
.subtitulo_principal{
	text-align: left !important; 
	color: #fff !important;
	font-size: 10px !important;
}
.logo{
	margin-left: -80px;
	margin-bottom: 30px !important;
}
.movil-logo{
	width: 150px !important;
}
.loginamiga{
	margin-left: 220px !important;
	top: -75px !important;
}
.movil-drop{
	margin-left: -5px !important;
}
.detalle_cumplemes{
	width: 300px !important;
}
.detalle_ingreso{
	width: 300px !important;
}
.estructura{
	width: 300px !important;
}
.img-ingreso{
	width: 330px !important;
	padding-left: 80px;
}
.img-cumple{
	width: 330px !important;
	padding-left: 80px;
}
.logo_banner{
  width: 120px !important;
  margin-top: 0px !important;
}
.loginamiga_banner {
margin-top: 0px !important;
}
.menu-intranet{
	margin-left: -60px !important;
}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 480px to 800px
*/

@media (min-width: 480px) and (max-width: 800px) and (orientation: portrait){
.logo{
	margin-left: -80px;
	margin-bottom: 30px !important;
}
.movil-logo{
	width: 150px !important;
}
.loginamiga{
	margin-left: 220px !important;
	top: -75px !important;
}
.titulo_principal{
  font-size: 18px !important; 
  margin-top: -10px !important;
}
.subtitulo_principal{
	text-align: left !important; 
	color: #fff !important;
	font-size: 14px !important;
}
.img-ingreso{
	width: 330px !important;
	padding-left: 80px;
}
.img-cumple{
	width: 330px !important;
	padding-left: 80px;
}
.card-blog .card-category-box{
	top: -260px !important;
	left: 280px !important;
}
.movil-drop{
	margin-left: -5px !important;
}	
}

/* 
  ##Device = Most of the Smartphones Mobiles (Landscape)
  ##Screen = B/w 480px to 800px
*/
@media (min-width: 480px) and (max-width: 800px) and (orientation: landscape){
.logo{
	margin-left: -180px;
	margin-bottom: 130px !important;
}
.movil-logo{
	width: 200px !important;
}
.loginamiga{
	margin-left: 350px !important;
	top: -185px !important;
}
.titulo_principal{
  font-size: 24px !important; 
  margin-top: -25px !important;
}
.subtitulo_principal{
	text-align: left !important; 
	color: #fff !important;
	font-size: 14px !important;
}
.img-ingreso{
	width: 400px !important;
	padding-left: 100px;
}
.img-cumple{
	width: 400px !important;
	padding-left: 100px;
}
.tablet-movil{
	width: 90% !important;
}
.movil-drop{
	margin-left: 50px !important;
}
.card-blog .card-category-box{
	top: -360px !important;
    left: 460px !important;
}
.logo_banner{
  width: 120px !important;
  margin-top: 0px !important;
}
.loginamiga_banner {
margin-top: 0px !important;
}
.menu-intranet{
	margin-left: -60px !important;
}
}	